@use "sass:math";

//========================================================================================================================================================================================================================================================================================
// Обнулення стилів
@import "bases/reset";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Підключення міксінів
@import "bases/mixins";
//========================================================================================================================================================================================================================================================================================


//========================================================================================================================================================================================================================================================================================
// Підключення шрифтів з fonts.google.com

// &display=swap - вказує браузеру використовувати резервний шрифт для 
// відображення тексту, доки не буде повністю завантажено спеціальний шрифт

@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap');
// @import url('');

// Розкоментувати у разі необхідності підключення локальних шрифтів
@import "fonts/fonts";

// Розкоментувати у разі необхідності підключення локальних іконочних шрифтів
@import "fonts/icons";
//========================================================================================================================================================================================================================================================================================


//========================================================================================================================================================================================================================================================================================
// Головні змінні
//========================================================================================================================================================================================================================================================================================
// Основні кольори
$mainColor: #000;
$greenColor: #09B451;

//========================================================================================================================================================================================================================================================================================
// Мінімальна ширина полотна
$minWidth: 280;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнеру (0 - немає обмеження)
$maxWidthContainer: 1240;
// Загальний внутрішній відступ у контейнера
$containerPadding: 48; // по 15 зліва і зправа

// type responsive container
// 1 - звичайний чуйний контейнер
// 0 - media breakpoints
$typeResponsive: 1;
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// breakpoint for device types
$pc: em($maxWidthContainer + $containerPadding);
$laptopL: em(1439.95);
$laptop: em(1199.95);
$tablet: em(991.95);
$mobile: em(767.95);
$mobileSmall: em(479.95);

//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Загальні параметри шрифту
$fontFamily: 'Poppins';
$fontSize: rem(16);
$fontWeight: 400;
$lineHeight: 1;
$letterSpacing: rem(1);
$fontStyle: normal;
//========================================================================================================================================================================================================================================================================================


//========================================================================================================================================================================================================================================================================================
/* STYLES.CSS */
/*=====================================================================================*/
/* Стилі body */
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    // font-style: $fontStyle;
    // letter-spacing: $letterSpacing;
    // line-height: $lineHeight;
    color: $mainColor;

    // Заблокований скрол
    &.lock{
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
        // .header {
        //     padding-right: 17px;
        // }
    }
}
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Responsive Container
@if ($typeResponsive==1) {
    // Звичайний чуйний контейнер
    [class*="__container"]{
        @if ($maxWidthContainer > 0) {
            @if ($containerPadding > 0) {
                max-width: rem($maxWidthContainer);
                padding: 0 rem(math.div($containerPadding, 2));
            } @else {
                max-width: rem($maxWidthContainer);
            }
            box-sizing: content-box;
            margin: 0 auto;
        } @else {
            @if ($containerPadding > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
} @else if ($typeResponsive==0) {
    // Чуйний контейнер за допомогою media breakpoints
    [class*="__container"]{
        margin: 0 auto;
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc){
            max-width: rem(970); 
        }
        @media (max-width: $tablet){
            max-width: rem(750); 
        }    
        @media (max-width: $mobile){
            margin: 0 rem(math.div($containerPadding, 2));
            padding: 0;
        }
    }
}
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Підключення файлів зі стилями сторінок 
// @import "bases/details/star-rating";
// @import "details/popup";
//========================================================================================================================================================================================================================================================================================
@import "details/commons";
@import "bases/header";
@import "bases/home";
@import "bases/footer";
//========================================================================================================================================================================================================================================================================================